body { 
    background-color: rgb(21, 3, 158);
}

h1 { text-align: center; font-family: 'Courier New', Courier, monospace; font-size: xxx-large;
    color: aliceblue;
}

h2 { text-align: center; 
    border: 1px solid; border-right-style: none ; border-left-style: none ; border-top: none;
    color: aliceblue;
}
#who {
    text-align: center; font-size: xx-large;
    color: aliceblue; border: 1px solid; border-left: none; border-right: none; border-width: 1mm;
}

img {
    max-width: 350px; border-radius: 60%;
    height: 500px;
    align-content: center ; align-content: top;
}
#Lo { text-align: right; color: aliceblue; font-size: larger; justify-content: center;
    padding-left: 50pc
      ;
}
#lip {  color: aliceblue; text-align: right;
}

a:link {color: chartreuse
}
a:visited {
    color: aquamarine;
}
a:hover { 
color: rgb(251, 6, 198);
}
#CEO {
    text-align: center; color: aliceblue
}
#ftl { color: aliceblue; text-align: center;}

ul {
    text-align: center; color: aliceblue ; list-style-type: none;
}
h3 {
    color: aliceblue; 
}

#edu {
    text-align: left; color: aliceblue
}
#ulfooter {
    text-align: right; list-style-type: none;
}

html {
    width: px;
    border: none;
    padding: 30px;
    margin: 30px; }